@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@{
    RegisterLink(new LinkEntry {Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("~/modules/orchard.themes/Content/orchard.ico")});
    Script.Include("html5.js").AtHead();

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}
<!doctype html>

<!-- 
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT
-->

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>@Html.Title(title, siteName)</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="/Themes/IFoughtPirahnas/Styles/Base.css">
<!-- For progressively larger displays -->
<!--<link rel="stylesheet" media="only screen and (min-width: 480px)" href="css/480.css">-->
<link rel="stylesheet" media="only screen and (min-width: 600px)" href="/Themes/IFoughtPirahnas/Styles/600.css">
<link rel="stylesheet" media="only screen and (min-width: 768px)" href="/Themes/IFoughtPirahnas/Styles/768.css">
<link rel="stylesheet" media="only screen and (min-width: 992px)" href="/Themes/IFoughtPirahnas/Styles/992.css">
<link rel="stylesheet" media="only screen and (min-width: 1200px)" href="/Themes/IFoughtPirahnas/Styles/1200.css">
<!-- For Retina displays -->
<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="css/2x.css">

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="Scripts/libs/selectivizr-min.js"></script>
<![endif]-->

<!-- JavaScript -->
<script src="/Themes/IFoughtPirahnas/Scripts/libs/modernizr-2.0.6.min.js"></script>

<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Themes/IFoughtPirahnas/Content/Images/high/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Themes/IFoughtPirahnas/Content/Images/medium/apple-touch-icon.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="/Themes/IFoughtPirahnas/Content/Images/low/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="/Themes/IFoughtPirahnas/Content/Images/low/apple-touch-icon.png">
<!-- For everything else -->
<link rel="shortcut icon" href="/Themes/IFoughtPirahnas/Content/Images/favicon.png">

<!--iOS. Delete if not required -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-startup-image" href="/Themes/IFoughtPirahnas/Content/Images/high/splash.png">

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->

<!-- http://t.co/y1jPVnT -->
<link rel="canonical" href="/">
</head>
<body>
@* Layout (template) is in the Body zone @ the default position (nothing, zero, zilch) *@
@Display(Model.Body)
@Display(Model.Tail)
<!-- Scripts -->
<script src="/Themes/IFoughtPirahnas/Scripts/libs/jquery-1.6.2.min.js"></script>
<!--[if (lt IE 9) & (!IEMobile)]>
<script src="/Themes/IFoughtPirahnas/Scripts/libs/imgsizer.js"></script>
<![endif]-->

<script>
    // iOS scale bug fix
    MBP.scaleFix();

    // Respond.js
    yepnope({
        test: Modernizr.mq('(only all)'),
        nope: ['/Themes/IFoughtPirahnas/Scripts/libs/respond.min.js']
    });
</script>


</body>
</html>
</body>
</html>