body
{
    max-width: 1200px;
    margin: 50px auto 0 auto;
}

#layout-right-column {
    border-left: 1px solid #D4D4D4;
    float: left;
    width: 80%;
}

#layout-left-column {
    border-bottom: 0;
    float: left;
    padding: 0 0 12px;
    width: 19.21%;
}

#branding
{
    background: url("/Themes/IFoughtPirahnas/Content/Images/branding75.png") no-repeat scroll 0 50% transparent;
    display: block;
    float: none;
    text-align: right;
}

nav ul
{
    text-align: right;
}

nav ul li
{
    float: none;
}