

#branding
{
    background: url("/Themes/IFoughtPirahnas/Content/Images/branding75.png") no-repeat scroll 0 0 transparent;
    display: inline;
    float: right;
    margin: 12px 0;
    padding: 20px 12px 20px 60px;
}
#branding a
{
    display: inline;
}

.aside-12 .aside-first, .aside-12 .aside-second
{
    float: left;
    width: 49.9%;
    border-top: 1px solid #d4d4d4;
}

.split-1234 #footer-quad > div,
.split-12 #footer-quad > div,
.split-13 #footer-quad > div,
.split-14 #footer-quad > div,
.split-23 #footer-quad > div,
.split-24 #footer-quad > div,
.split-34 #footer-quad > div {float: left; width: 50%}

.tripel-12 #layout-tripel > div { width:50%; float: left; } /* If zones 1, 2 are on */
.tripel-23 #layout-tripel > div { width:50%; float: left; } /* If zones 2, 3 are on */
.tripel-13 #layout-tripel > div { width:50%; float: left; } /* If zones 1, 3 are on */